.main{
    background:linear-gradient(to right top, #eebf6d, #c79a4d);
    padding: 0;
    width: 80%;
    margin: auto;
    margin-top: 7em;
    border-radius: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
}


.menu-list{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 1em;
    border-radius: 2rem;
    
    
       
}

.activities{
    display: flex;
    background:linear-gradient(
        to left top,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.2)
    );
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
       
   
}

.menu-images{
    height: 8em;
}

.menu-title{
    color:#426696;
    opacity: 0.8;
    text-decoration: none;

}

.heading h2{
    margin-top: 5em;
    text-align: center;
    color:rgba(122, 122, 122, 0.6) ;
}

.divider{
    border:0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.9), rgba(0, 0, 0 ,0));
    margin: auto;
    width: 20%;
    
}

.category-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 2em;
    border:1px solid black;
    width: fit-content;
    
}

.categories{
    border:1px solid black;
    padding:1em;
    
}

.business-images{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.business-names{
    color:rgb(255, 38, 0);
    text-decoration: none;
}

.carousel-wrapper{
    background-color: rgba(0,0,0,.9);
    padding: 2em;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5em;
    border-radius: 1em;
}

.carousel-wrapper .carousel-inner{
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.carousel-wrapper .carousel-slide{
    display: flex;
    flex-direction: column;
    
    width: fit-content;
    margin: auto;
}


.loader-wraper{
    margin: auto;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:500px) {
    .category-wrapper{
        background: red;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .cover-page img{
        width: 100%;
        height: 30%;
    }
}
