.user-form-cont{
    background: linear-gradient(to right top, rgb(171, 189, 129, 0.7), rgb(171, 189, 129, 0.3));
    height: 100vh;
    width: 100vw;
}

.user-reg-form{
    position: absolute;
    top: 50%;
    left: 50%;
    background:linear-gradient(to right bottom, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.3)
        );

    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 85%;
    border-radius: 2em;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    transform: translate(-50%, -50%);
}

.picture-upload{
    flex:1;
    display: flex;
    flex-direction: column;
    background:linear-gradient(to right bottom, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.3)
        );
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 2em;

}

.picture-upload p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
}

.inputs{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5rem;
}

.inputs input, .business-description{
    background:linear-gradient(to right bottom, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.3)
        );
        border:none;
        padding: 0.5em;
        border-radius: 0.5em;
}

.business-description{
    resize: none;
    margin-bottom: 1em;
}

.avatar{
    height: 6em;
    margin: auto;
}

#file, #logo{
    display: none;
}

.names, .merged-fields{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.names input, .merged-fields input{
    width: 45%;
}

#last-name, #phone, #confirm, #business-nature, #business-category{
    margin-left: 10%;
}

.submit-registration{
    background-color: rgb(38,130,255);
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    color: antiquewhite;
    width:100%;
}

.uploader{
    background: rgb(38,130,255);
    padding: 1em;
    display: flex;
    border-radius: 3em;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.8);
    color: white;
    width: 220px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
}

.business-images-uploader{
    background: rgb(38,130,255);
    padding: 1em;
    display: flex;
    border-radius: 3em;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.8);
    color: white;
    width: 130px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
    font-size:12px;
    
}


.picture-cont{
    background:#f1c67a;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 7px solid white;
    border-radius: 50%;
}

.remove-image{
    border:none;
    background: none;
    position: absolute;
    top:150px;
    left:190px;
    font-size: 1em;
    color: #f1c67a;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.profile-picture{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.payment{
    border:none;
}


.registeration-status, .password-match{
    background:linear-gradient(to right bottom, 
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.3)
        );

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5em;
    margin-top: 1em;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
}

.password-match{
    justify-content: space-around;
}

.closer{
    margin: auto;
    margin-left: auto;
    margin-right: 1em;
}

.registeration-status p, .password-match p{
    margin: auto;
    padding:0.5em;
}

#business-images{
    display: flex;
    flex-direction: column;
    
}

.business-images-wrapper{
    display: flex;   
}

.image-count{
    display: flex;
    justify-content: center;
    background:linear-gradient(to right bottom, 
        rgba(255, 255, 255, 0.9), 
        rgba(255, 255, 255, 0.3)
        );
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
    width: fit-content;
    margin: auto;
    padding: 0.5em;
    border-radius: 1em;
    
}

#logo-wrapper{
    margin-top: 3em;
}